:root {
    color-scheme: light dark;
}

/* Title for platform availability tables */
.availability-title {
    text-align: center;
    font-weight: bold;
}

/* Style platform availability and widgets by platforms tables */
.availability-title + .md-typeset__scrollwrap,
.api-reference_key + .md-typeset__scrollwrap {
    display: flex;
    flex-flow: nowrap column;
    align-items: center;
}

.availability-title + .md-typeset__scrollwrap table th,
.availability-title + .md-typeset__scrollwrap table td {
    padding: 0.2rem 0.6rem;
}

.availability-title + .md-typeset__scrollwrap table th,
h2.api-reference + .md-typeset__scrollwrap table th {
    min-width: 3rem;
}

h2.api-reference + .md-typeset__scrollwrap th,
h2.api-reference + .md-typeset__scrollwrap td:first-of-type {
    font-size: 0.7rem;
}

h2.api-reference + .md-typeset__scrollwrap th,
h2.api-reference + .md-typeset__scrollwrap td:first-of-type {
    padding: 0.4em 0.63em;
}

h2.api-reference + .md-typeset__scrollwrap td:first-of-type {
    text-align: left !important;
    font-weight: bolder;
}

.availability-title + .md-typeset__scrollwrap th,
.availability-title + .md-typeset__scrollwrap td,
h2.api-reference + .md-typeset__scrollwrap th,
h2.api-reference + .md-typeset__scrollwrap td {
    text-align: center !important;
    border: .05rem solid var(--md-typeset-table-color);
}

.api-reference + .md-typeset__scrollwrap td {
    vertical-align: middle;
    padding: 0.4rem 0.5rem;
}
